.contact-home {
    &__heading {
        padding: 120px 15px;
        text-align: center;
        background: url(../img/careers/careers-home-bg.png)
            no-repeat;
        background-size: cover;
        border: 1px solid $grey-dark2;

        @media (max-width: $laptop-size) {
            padding: clamp(3.125rem, 1.918rem + 4.95vw, 6.25rem) 15px;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: 0px;
        margin-bottom: 14px;

        @media (max-width: $laptop-size) {
            font-size: clamp(1.75rem, 1.509rem + 0.99vw, 2.375rem);
            margin-bottom: clamp(0.375rem, 0.278rem + 0.4vw, 0.625rem);
            line-height: clamp(2.25rem, 2.009rem + 0.99vw, 2.875rem);
        }
    }

    &__subtitle {
        max-width: 1000px;
        margin: 0 auto;
        color: $grey-light3;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.108px;

        @media (max-width: $laptop-size) {
            font-size: clamp(0.875rem, 0.827rem + 0.2vw, 1rem);
        }
    }
}
