.companies {
    &__inner {
        padding: 40px 0;
        border: 1px solid $grey-dark2;

        @media (max-width: 535.98px) {
            padding: 40px 0 0 0;
        }
    }

    &__trusted {
        padding: 20px 34px;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;

        max-width: fit-content;
        margin: -75px auto 0 auto;
        border: 1px solid $grey-dark2;
        border-radius: 100px;
        background: #1a1a1a;

        @media (max-width: $laptop-size) {
            font-size: 14px;
            padding: 14px 24px;
        }
    }

    &__logos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;

        @media (max-width: 1005.98px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width: 535.98px) {
            display: grid;
            gap: 0;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__logo {
        display: flex;
        justify-content: center;

        @media (max-width: 535.98px) {
            padding: 30px clamp(0.938rem, -0.458rem + 6.98vw, 1.875rem);
            border: 1px solid rgb(38, 38, 38);

            &:nth-child(1),
            &:nth-child(2) {
                border-top: none;
            }

            & img {
                max-height: 40px;
            }
        }
    }
}
