// -- Container
$container-width: 1630px;
$container-padding: 15px;

// -- Fonts
$font-main: "Barlow", sans-serif;
$font-accent: "Inter", sans-serif;

// -- Page & Menu
$page-background: #1A1A1A;
$menu-icon: #D8FF99;

// -- Absolute Colors
$color-white: #fff;
$color-black: #000;

$laptop-size: 1399.98px;
$tablet-size: 959.98px;
$mobile-size: 599.98px;

// -- Green Shades
$green-primary: #9eff00;
$green-light1: #b1ff33;
$green-light2: #c5ff66;
$green-light3: #d8ff99;
$green-light4: #ecffcc;
$green-light5: #f5ffe5;
$green-light6: #f9fff0;
$green-light7: #fdfffa;

$grey-dark1: #191919;
$grey-dark2: #262626;
$grey-dark3: #333333;
$grey-mid1: #4c4c4d;
$grey-mid2: #59595a;
$grey-light1: #656567;
$grey-light2: #98989a;
$grey-light3: #e6e6e6;
